<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>

        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Case Studies</h1>
                        </div>
                        <!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update Case Studies</li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
            <%- include("../../notify"); %>
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Upadate Case Studies</h3>
                                        <a href="/case-studies-list" class="btn btn-light btn-sm"
                                            style="float: right; color: #000;">Back</a>
                                    </div>

                                    <form id="bannerForm" action="/update-case-studies-store" method="POST"
                                        enctype="multipart/form-data">

                                        <div class="card-body">
                                            <input type="hidden" value="<%= updateBlog.id %>" name="blogId">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Title: <span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" value="<%= updateBlog.title %> " name="title"
                                                            class="form-control" id="exampleInputEmail1"
                                                            placeholder="Enter Case study name" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Image:</label>
                                                        <input type="file" value="<%= updateBlog.image %> " name="image" onchange="return validate_fileupload(this)"
                                                            class="form-control" id="exampleInputEmail1"
                                                            placeholder="Enter  image">
                                                        <input type="hidden" value="<%= updateBlog.image %>"
                                                            name="oldImage">




                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <img style="max-height: 100px; min-height: 100px; margin-top: 2px;"
                                                            src="/uploaded-files/<%= updateBlog.image %>">
                                                    </div>
                                                </div>
                                            </div>




                                            <label for="exampleInputPassword1">Description:</label>
                                            <div class="form-group ">

                                                <textarea name="description" id="description" class="form-control"
                                                    cols="20" rows="5"><%- updateBlog.description %></textarea>
                                            </div>



                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

        </div>

        <script>

            let d = CKEDITOR.replace('description');

        </script>
        <%- include('../../partials/footer'); %>