<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Students</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Student</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <!-- <h1>Batches</h1> -->
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/add-Student" class="btn btn-primary">Add</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../../partials/error'); %>
                <section class="content">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Students List</h3>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Profile Pic</th>
                                            <th>Student Name</th>
                                            <th style="min-width: 40px;">Email</th>
                                            <th>Mobile</th>
                                            <th>Dob</th>
                                            <th>Gender</th>
                                            <th>Board</th>
                                            <th>Father's Name</th>
                                            <th>Mother's Name</th>
                                            <th>Address</th>
                                            <th>Country</th>
                                            <th>State</th>
                                            <th>City</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th style="min-width: 175px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for(var j=0; j< StudentData.length; j++) { var
                                            cId=StudentData[j].course_category_id; %>

                                            <tr>
                                                <td>
                                                    <%= j+ 1 %>
                                                </td>
                                                <td>
                                                    <img src="<%= StudentData[j].profile_img %>"
                                                        alt="<%= StudentData[j].profile_img %>"
                                                        class="img-circle img-size-32 mr-2">
                                                </td>
                                                <td>
                                                    <%= StudentData[j].firstName+' '+StudentData[j].lastName  %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].email %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].mobile_no %> 
                                                </td>
                                                <td><%= StudentData[j].dob %></td>
                                                <td><%= StudentData[j].gender %></td>
                                                <td><%= StudentData[j].boards ?
                                                    StudentData[j].boards[' name']:'' %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].fathersName %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].mothersName %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].address %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].countries?StudentData[j].countries['name']:'' %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].states?StudentData[j].states['name']:'' %>
                                                </td>
                                                <td>
                                                    <%= StudentData[j].states?StudentData[j].cities['name']:'' %>
                                                </td>


                                                <td>
                                                    <%= StudentData[j].createdAt %>
                                                </td>
                                                <td>
                                                    <%if(StudentData[j].status=='A' ) {%>
                                                        <span class="badge bg-success ">Active</span>
                                                        <%}else{%>
                                                            <span class="badge bg-danger">Inactive</span>
                                                            <%}%>
                                                </td>
                                                <td>
                                                    <a href="/edit-student?id=<%= StudentData[j].id %>"
                                                        class="btn btn-warning text-white"
                                                        data-cat-id="<%= StudentData[j].id %>">
                                                        Edit
                                                    </a>
                                                    <a role="button" id="changestatus" class="btn btn-secondary"
                                                        data-cat-id="<%= StudentData[j].id %>"
                                                        data-value="<%= StudentData[j].status %>">
                                                        Change Status
                                                    </a>
                                                </td>
                                            </tr>
                                            <%}%>

                                    </tbody>


                                </table>
                            </div>

                        </div>
                    </div>
                </section>

        </div>
        <%- include('../../partials/footer'); %>
            <script>
                $('body').on('click', '#changestatus', function (e) {
                    e.preventDefault();
                    const subj_status = $(this).attr("data-value");
                    const subj_id = $(this).attr("data-cat-id");

                    swal({
                        title: "Are you sure change Status?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                change_status(subj_id, subj_status);

                                swal("Class Status Updated Successfully", {
                                    icon: "success",
                                }).then(function () {
                                    location.reload();
                                });

                            } else {
                                swal("Your Data is safe!");
                            }
                        });

                })
                function change_status(subj_id, subj_status) {
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var rstext = JSON.parse(this.responseText);
                            var rstext = rstext.message;

                        }
                    };

                    xmlhttp.open("POST", "/change-student-status/" + subj_id + "/change", true);
                    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xmlhttp.send(JSON.stringify({ 'id': subj_id, 'status': subj_status }));
                }
            </script>