<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>

        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Update Our Advisory Board</h1>
                        </div>
                        <!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update Our Advisory Board</li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
            <%- include("../../notify"); %>


                <section class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Update Our Advisory Board</h3>
                                        <a href="/our-advisory-board-list" class="btn btn-light btn-sm"
                                            style="float: right; color: #000;">Back</a>
                                    </div>

                                    <form id="bannerForm" action="/update-our-advisory-board-store" method="POST"
                                        enctype="multipart/form-data">

                                        <div class="card-body">
                                            <input type="hidden" value="<%= update_testimonial.id %>" name="id">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Name: <span class="text-danger">*</span></label>
                                                        <input type="text" value="<%= update_testimonial.Name %> "
                                                            name="name" class="form-control" id="exampleInputEmail1"
                                                            placeholder="Enter testimonial name" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Designation: <span class="text-danger">*</span></label>
                                                        <input type="text" value="<%= update_testimonial.designation %>"
                                                            name="designation" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter testimonial name"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Image</label>
                                                        <input type="file" name="image" class="form-control" onchange="return validate_fileupload(this)"
                                                            id="exampleInputEmail1"
                                                            placeholder="Enter testimonial image">
                                                        <input type="hidden" value="<%= update_testimonial.image %>"
                                                            name="oldImage">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <img style="max-height: 100px; min-height: 100px; margin-top: 2px;"
                                                            src="/uploaded-files/<%= update_testimonial.image %> ">
                                                    </div>
                                                </div>
                                            </div>








                                            <div class="form-group mt-5 ">
                                                <label for="exampleInputPassword1">Message: <span class="text-danger">*</span></label>
                                                <textarea name="message" id="message" class="form-control" cols="20"
                                                    rows="5" required><%- update_testimonial.message %></textarea>
                                            </div>








                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                    </form>
                                </div>

                            </div>


                            <div class="col-md-6">
                            </div>

                        </div>

                    </div>
                </section>

        </div>

        <script>

            let d = CKEDITOR.replace('message');

        </script>
        <%- include('../../partials/footer'); %>