<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Subject Categories</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Subject Category</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/subject-category-list" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../../../partials/error'); %>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Subject Categories</h3>
                                </div>
                                
                                            <form id="subjectform" action="/subject-category-update" method="POST"
                                                enctype="multipart/form-data">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="name">Subject Name</label>
                                                        <input type="text" name="name" class="form-control" id="name"
                                                            placeholder="Enter Subject Name" value="<%= item.name %>">
                                                        <input type="hidden" name="id" value="<%= item.id %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select Categories</label>
                                                        <select class="form-control" name="category_id"
                                                            id="category-id">
                                                            
                                                            <%for(var i=0; i< categorys.length; i++) { var
                                                                catId=categorys[i].id; %>
                                                                <option <% if(catId==item.category_id) {%>
                                                                    selected="selected" <%}%> value="<%= categorys[i].id
                                                                            %>">
                                                                            <%= categorys[i].name %>
                                                                </option>
                                                                <%}%>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select Course Categories</label>
                                                        <select class="form-control" name="course_category_id"
                                                            id="course-category-id">
                                                            
                                                            <%for(var i=0; i< courseategories.length; i++) { var
                                                                courseID=courseategories[i].id; %>
                                                                <option <% if(courseID==item.course_category_id) {%>
                                                                    selected="selected" <%}%> value="<%=
                                                                            courseategories[i].id %>"><%=
                                                                                courseategories[i].name %>
                                                                </option>
                                                                <%}%>

                                                        </select>
                                                    </div>
                                                    <!-- <div class="form-group">
                                            <label for="file">Upload File</label>
                                            <input type="file" name="file" class="form-control" id="file">
                                        </div> -->
                                                    <div class="form-group">
                                                        <% if(item.video) {%>
                                                            <label for="uploadvideo">Uploaded Video</label>
                                                            <div class="input-group">
                                                                <video id="uploadvideo" width="200" height="200"
                                                                    controls>
                                                                    <source src="<%= item.video %>" type="video/mp4">
                                                                </video>
                                                            </div>
                                                            <%}%>

                                                                <label for="video">Upload Video</label>
                                                                <input type="file" name="video" class="form-control"
                                                                    id="video" accept="video/mp4,video/x-m4v,video/*">
                                                                    <input type="hidden" name="oldvideo" value="<%= item.video %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="description">Description</label>
                                                        <textarea class="form-control" id="description"
                                                            name="description" rows="4"
                                                            cols="50"><%= item.description %></textarea>
                                                    </div>

                                                </div>

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                            </div>

                        </div>


                        <div class="col-md-6">
                        </div>

                    </div>

                </div>
            </section>

        </div>
        <%- include('../../../partials/footer'); %>
            <script>
                $('#category-id').on('change', function () {

                    var newval = $(this).val();
                    console.log(newval);
                    if (newval) {


                        $.ajax({
                            type: "Get",
                            url: "api/course_category/" + newval,
                            success: function (result) {
                                var subcat = JSON.stringify(result);
                                var sub_data = JSON.parse(subcat);
                                var subObj = sub_data.item;
                                var output = ['<option value="" >select course category </option>'];
                                $.each(subObj, function (k, v) {
                                    var option = '<option value="' + v.id + '">' + v.name + '</option>';
                                    output.push(option)
                                });

                                $('#course-category-id').html(output.join(''));
                            },
                            error: function (exception) { console.log('Exeption:' + exception); }
                        });
                    } else {
                        var output = ['<option value="" >select course category type</option>'];

                        $('#course-category-id').html(output.join(''));

                    }
                });
            </script>