<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Live Session Videos</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Live Session Videos</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../../partials/error'); %>
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <a href="/live-session-video-list" class="btn btn-primary">Back</a>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Add Live Session Videos</h3>
                                    </div>
                                    <form id="liveSessionVideoForm" action="/live-session-video-insert" method="POST"
                                        enctype="multipart/form-data">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label>Select Students</label>
                                                    <select class="form-control" name="student_id" id="student_id">
                                                        <option value="" selected disabled>Select Students</option>
                                                        <%for(var i=0; i< students.length; i++) { %>
                                                            <option value="<%= students[i].id %>">
                                                                <%= students[i].firstName+' '+students[i].lastName %>
                                                            </option>
                                                            <%}%>
                                                    </select>
                                                </div>
                                                <div class="form-group col">
                                                    <label>Select Categories</label>
                                                    <select class="form-control" name="category_id" id="category-id">
                                                        <option value="" selected disabled>Select Categories</option>
                                                        <%for(var i=0; i< categories.length; i++) { %>
                                                            <option value="<%= categories[i].id %>">
                                                                <%= categories[i].name %>
                                                            </option>
                                                            <%}%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label>Select Course Categories</label>
                                                    <select class="form-control" name="course_category_id"
                                                        id="course-category-id">
                                                        <option value="">select course category</option>

                                                    </select>
                                                </div>

                                                <div class="form-group col">
                                                    <label>Select Subject Categories</label>
                                                    <select class="form-control" name="subject_category_id"
                                                        id="subject_category_id">
                                                        <option value="">Select Subject Categories</option>

                                                    </select>

                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label>Select Chapter</label>
                                                    <select class="form-control" name="chapter_id"
                                                        id="chapter_id">
                                                        <option value="">Select Chapter</option>
                                                </select>
                                                </div>
                                                <div class="form-group col">
                                                    <label for="name">Live Session Videos</label>
                                                    <input type="file" name="upload_file" class="form-control" id="file"
                                                        placeholder="Enter Live Session Videos Name" accept="video/mp4,video/x-m4v,video/*">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label for="description">Description</label>
                                                    <textarea class="form-control" id="description" name="description"
                                                        rows="4" cols="50"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
        <%- include('../../partials/footer'); %>
        <script>
            $('#category-id').on('change', function () {
                var newval = $(this).val();
                console.log(newval);
                if (newval) {
                    $.ajax({
                        type: "Get",
                        url: "api/course_category/" + newval,
                        success: function (result) {
                            var subcat = JSON.stringify(result);
                            var sub_data = JSON.parse(subcat);
                            var subObj = sub_data.item;
                            var output = ['<option value="" selected desabled>Select Course Category </option>'];
                            $.each(subObj, function (k, v) {
                                var option = '<option value="' + v.id + '">' + v.name + '</option>';
                                output.push(option)
                            });

                            $('#course-category-id').html(output.join(''));
                        },
                        error: function (exception) { console.log('Exeption:' + exception); }
                    });
                } else {
                    var output = ['<option value="" selected desabled>Select Course Category</option>'];

                    $('#course-category-id').html(output.join(''));

                }
            });

            $('#course-category-id').on('change', function () {
                var newval = $(this).val();
                console.log(newval);
                if (newval) {
                    $.ajax({
                        type: "Get",
                        url: "api/subject_category/" + newval,
                        success: function (result) {
                            var subcat = JSON.stringify(result);
                            var sub_data = JSON.parse(subcat);
                            var subObj = sub_data.item;
                            var output = ['<option value="" selected desabled>Select Subject Category </option>'];
                            $.each(subObj, function (k, v) {
                                var option = '<option value="' + v.id + '">' + v.name + '</option>';
                                output.push(option)
                            });

                            $('#subject_category_id').html(output.join(''));
                        },
                        error: function (exception) { console.log('Exeption:' + exception); }
                    });
                } else {
                    var output = ['<option value="" selected desabled>Select Subject Category</option>'];

                    $('#subject_category_id').html(output.join(''));

                }
            });
            $('#subject_category_id').on('change', function () {
                var newval = $(this).val();
                console.log(newval,'subject-category-id');
                if (newval) {
                    $.ajax({
                        type: "Get",
                        url: "api/chapter/" + newval,
                        success: function (result) {
                            var subcat = JSON.stringify(result);
                            var sub_data = JSON.parse(subcat);
                            var subObj = sub_data.item;
                            var output = ['<option value="" selected desabled>Select Chapter </option>'];
                            $.each(subObj, function (k, v) {
                                var option = '<option value="' + v.id + '">' + v.name + '</option>';
                                output.push(option)
                            });

                            $('#chapter_id').html(output.join(''));
                        },
                        error: function (exception) { console.log('Exeption:' + exception); }
                    });
                } else {
                    var output = ['<option value="" selected desabled>Select Chapter</option>'];

                    $('#chapter_id').html(output.join(''));

                }
            });
        </script>