<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>

        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Update High performance</h1>
                        </div>
                        <!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Update High performance</li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
            <%- include("../../notify"); %>


                <section class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Update High performance</h3>
                                        <a href="/main-service-list" class="btn btn-light btn-sm"
                                            style="float: right; color: #000;">Back</a>
                                    </div>

                                    <form id="bannerForm" action="/update-main-service-store" method="POST"
                                        enctype="multipart/form-data">

                                        <div class="card-body">
                                            <input type="hidden" value="<%= update.id %>" name="mainServiceId">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Title: <span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" value="<%= update.title %>" name="title"
                                                            class="form-control" id="exampleInputEmail1"
                                                            placeholder="Enter High performance Title" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Image1:</label>
                                                        <input type="file" value="<%= update.image %> " name="image" onchange="return validate_fileupload(this)"
                                                            class="form-control" id="exampleInputEmail1"
                                                            placeholder="Enter image">
                                                        <input type="hidden" value="<%= update.image %>"
                                                            name="oldImage">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <img style="max-height: 100px; min-height: 100px; margin-top: 2px;"
                                                            src="/uploaded-files/<%= update.image %>">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Image2:</label>
                                                        <input type="file" name="image2"
                                                            class="form-control" id="exampleInputEmail1"
                                                            placeholder="Enter image">
                                                        <input type="hidden" value="<%= update.image2 %>" onchange="return validate_fileupload(this)"
                                                            name="oldImage">

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <img style="max-height: 100px; min-height: 100px; margin-top: 2px;"
                                                            src="/uploaded-files/<%= update.image2 %>">
                                                    </div>
                                                </div>
                                            </div>




                                                   
     
                                                                      
                                                <label for="exampleInputPassword1">Description</label>
                                                <div class="form-group ">          
                                                    <textarea name="description" id="description" class="form-control"
                                                        id="details" cols="20" rows="5" ><%-update.description %></textarea>
                                                </div>
                                                
                                                

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>





<!-- 
                                            <label for="exampleInputPassword1">Description:</label>
                                            <div class="form-group ">
                                                <textarea name="description" id="description" class="form-control"
                                                    id="details" cols="20" rows="5"><%-update.description %></textarea>
                                            </div>



                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div> -->
                                    </form>
                                </div>

                            </div>


                            <div class="col-md-6">
                            </div>

                        </div>

                    </div>
                </section>

        </div>

        <script>

            let d = CKEDITOR.replace('description');

        </script>
        <%- include('../../partials/footer'); %>