<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>
        <div class="content-wrapper">
            <%- include("../../notify"); %> 
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">faq contact</h1>
                        </div>
                        <!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">faq contact</li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
           
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <!-- <h1>Course Categories</h1> -->
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <!-- <a href="/why-we" class="btn btn-primary">Add</a> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            
           
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Faq Contact list </h3>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                       <!-- // <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(list.length){ list.forEach((element,index)=>{%>
                                 
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td>
                                                <%= element.name %>
                                            </td>
                                            <td>
                                                <%= element.email %>
                                            </td>
                                            
                                            <td>
                                                <%- element.phone %>
                                              
                                            </td>
                                            
                                            <td>
                                                <%- element.subject %>
                                              
                                            </td>
                                            <td>
                                                <%- element.message %>
                                           </td>
                                            
                                           
                                        </tr>
                                        <%  })  } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include('../../partials/footer'); %>
      
        
