<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Request Master Class</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Request Master Class</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <!-- <h1>Course Categories</h1> -->
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <!-- <a href="/add-board" class="btn btn-primary">Add</a> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            
           
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Request Master Class List</h3>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Student Name</th>
                                        <th>Request Type</th>
                                        <th>Course Categories</th>
                                        <th>Subject</th>
                                        <th>Chapters</th>
                                        <th>Request Date</th>
                                        <th>Status</th>
                                        <th style="min-width: 104px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(bookData.length){ for(var i=0; i< bookData.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td>
                                                <%= bookData[i].student_id ? bookData[i].students['firstName']+' '+bookData[i].students['lastName'] :'' %>
                                            </td>
                                            <td>
                                                <%= bookData[i].request_type %>
                                            </td>
                                            
                                            <td>
                                                <%= bookData[i].course_category_id ? bookData[i].coursecategories['name'] :'' %>
                                            </td>
                                            <td>
                                                <%= bookData[i].subject_category_id ? bookData[i].subjectcategories['name'] :'' %>
                                            </td>
                                            <td>
                                                <%= bookData[i].chapter_id ? bookData[i].chapters['name'] :'' %>
                                            </td>
                                            <td>
                                                <%= bookData[i].request_date %>
                                            </td>
                                            <td>
                                                <%if(bookData[i].status==='I') {%>
                                                    <span class="badge bg-danger ">Inactive</span>
                                                <%}else{%>
                                                    <span class="badge bg-success">Active</span>
                                                <%}%>
                                            </td>
                                            <td>
                                                
                                                <a role="button" id="changestatus" class="btn btn-secondary"
                                                    data-cat-id="<%= bookData[i].id %>"
                                                    data-value="<%= bookData[i].status %>">
                                                    Change Status
                                                </a>
                                            </td>
                                        </tr>
                                        <% }} %>
                                </tbody>
                                
                            </table>
                        </div>

                    </div>
                </div>
            </section>

        </div>
        <%- include('../../../partials/footer'); %>
        <script>
            $('body').on('click', '#changestatus', function (e) {
                e.preventDefault();
                const subj_status = $(this).attr("data-value");
                const subj_id = $(this).attr("data-cat-id");

                swal({
                    title: "Are you sure change Status?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            change_status(subj_id, subj_status);

                            swal("Class Status  Updated Successfully", {
                                icon: "success",
                            }).then(function () {
                                location.reload();
                            });

                        } else {
                            swal("Your Data is safe!");
                        }
                    });

            })
            function change_status(subj_id, subj_status) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var rstext = JSON.parse(this.responseText);
                        var rstext = rstext.message;

                    }
                };

                xmlhttp.open("POST", "/change-request-status/" + subj_id + "/change", true);
                xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xmlhttp.send(JSON.stringify({ 'id': subj_id, 'status': subj_status }));
            }
        </script>