<%- include('../../partials/header'); %>
    <%- include('../../partials/sidebar'); %>
        <div class="content-wrapper">
            <%- toasts %>

                <%- include("../../notify"); %>
                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0">Second Section</h1>
                                </div>
                                <!-- <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Banner Content</li>
                            </ol>
                        </div> -->
                            </div>
                        </div>
                    </div>


                    <section class="content">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Second Section List</h3>
                                    <% if(bannerContentList.length < 3) {%>
                                        <a href="/add-second-section" class="btn btn-primary btn-sm" style="float: right;">Add</a>
                                        <% }%>
                                </div>

                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sr No</th>
                                                <th>Second Section Content Type</th>
                                                <th>Second Section Content Description</th>


                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(bannerContentList.length){ bannerContentList.forEach((element,index)=>
                                                {%>

                                                <tr>
                                                    <td>
                                                        <%= index+1 %>
                                                    </td>
                                                    <td>
                                                        <%= element.type %>
                                                    </td>

                                                    <td>
                                                        <%- element.description %>

                                                    </td>


                                                    <td>

                                                        <!-- <a href="#" data-value="<%=element.id%>" class="deleteUser"><i
                                                                class="fa fa-trash-o" style="font-size:25px; color:red"
                                                                title="delete"></i></a> -->

                                                        <a
                                                            href="/update-second-section?bannerContentId=<%= element.id %>"><i
                                                                class='fas fa-pen-nib' style="font-size:25px;"
                                                                title="Edit"></i></a>
                                                    </td>


                                                </tr>

                                                <% }) } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
        </div>
        <script>
            $(".deleteUser").on("click", function () {
                swal({
                    title: "Are you sure want to Delete?",
                    text: "Once deleted, you will not be add this content again!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        // console.log("$(this).val()", $(this).val());
                        var id = $(this).data("value");
                        // console.log(`/delete-service-box?id=${id}`);
                        $.ajax({
                            url: `/delete-second-section?bannerContentId=${id}`,
                            type: 'GET',
                            // data: formData,
                            async: false,
                            success: function (data) {
                                swal("Content has been deleted!", {
                                    icon: "success",

                                }).then(() => {
                                    window.location.reload()
                                });


                            },
                            cache: false,
                            contentType: false,
                            processData: false
                        });
                    }
                });
            });
        </script>
        <%- include('../../partials/footer'); %>